#ddev-generated
services:
  keycloak:
    container_name: ddev-${DDEV_SITENAME}-keycloak
    hostname: ${DDEV_SITENAME}-keycloak
    image: quay.io/keycloak/keycloak:23.0
    command: start-dev --proxy edge --import-realm
    labels:
      com.ddev.site-name: ${DDEV_SITENAME}
      com.ddev.approot: $DDEV_APPROOT
    environment:
      - VIRTUAL_HOST=$DDEV_HOSTNAME
      - HTTP_EXPOSE=8442:8080
      - HTTPS_EXPOSE=8443:8080
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=password
    volumes:
      - "keycloak:/opt/keycloak/data/"
      - ".:/mnt/ddev_config"
      - "./keycloak/themes:/opt/keycloak/themes/"
  web:
    links:
      - keycloak

volumes:
  keycloak:
